@import '~node_modules/modern-normalize/modern-normalize.css';

img {
    display: block;
    height: auto;
    width: 100%;
}

.hidden {
    display: none;
}

.search-form {
    display: flex;
    justify-content: center;
    padding: 15px;
    background: linear-gradient(-45deg, #528ca1, #a8c4be);
}

.search-input {
    position: relative;
    height: 40px;
    width: 40%;

font-family: inherit;
font-size: 18px;
    border: 0;
    padding: 0 15px;
    outline: none;
    background-color: transparent;
    color: #fefefe;
    border-radius: 10px;
    box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.2);
    
    &::placeholder {
        color: inherit;
    }
}

.search-btn {
    position: absolute;
    right: 30%;
    border: 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #a8c4be;
    color: #fefefe;
    cursor: pointer;
    transition: all .2s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    fill: #fefefe;

    &:hover {
        background-color: #fefefe;
        color: #528ca1;
        transition: color 0.15s ease-in-out;
        transform: scale(1.2);
    }
}

.text-field__aicon {
    position: absolute;
    display: flex;
    align-items: center;
    top: 50%;
    bottom: 50%;
    right: -50%;
    width: 3rem;
    cursor: pointer;
    fill: inherit;
    
    &:hover {
            fill: #528ca1;
        }
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    gap: 30px;
    padding: 20px;
}

.photo-card {
        overflow: hidden;
        border-radius: 7px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.photo-img {
    width: 400px;
    height: 250px;
    object-fit: cover;
}

.photo-link {
    text-decoration: none;
    color: inherit;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 0 15px;
}

.info-item {
    display: flex;
    flex-direction: column;
}

.load-more {
    display: block;
    margin: 0 auto;
    border: 0;
        height: 44px;
        width: 144px;
        border-radius: 10px;
        background-color: #a8c4be;
        color: #fefefe;
        cursor: pointer;
        transition: all .2s;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    
        &:hover {
            background-color: #fefefe;
            color: #528ca1;
            border: 1px solid #528ca1;
        }
}


